h3{
    font-size: 25px !important;
}
btn-success:hover{
    background-color: red;
}
canvas{
    animation-name: colorchange;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes colorchange{
    from{box-shadow: 10px 10px 100px rgb(220, 6, 6);}
    to{box-shadow: 10px 10px 100px rgb(227, 0, 0);}
}